* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    border-radius: 5px;
}
header {
    text-align: center;
    background-color:rgb(133, 12, 36);
    color: blanchedalmond;
    text-shadow: 3px 3px 3px #242424;
    width: 25%;
    padding-top: 0.01%;
    margin-left: 37%;
    padding-bottom: 0.01%;
}

#titulo {
    background-color: blanchedalmond;
    color: rgb(133, 12, 36);
    width: 85%;
    margin-left: 7%;
    border-radius: 15px;
}

div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#fondoinicio {
    margin: 2% 17% 0%;
    padding: 2% 0% 25%;
}

body {
    background-color: blanchedalmond;
    background-image: url("./fondomundial.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#proxpart {
    position: absolute;
    text-align: center;
    width: 100%;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}

.textoproxpart {
    font-size: auto;
}

#proximo {
    position: absolute;
    gap: 90px;
    margin: 15% 25% 0%;
}

a {
    font-size: xx-large;
}

img {  
    width:80px;
    height:auto;
}

nav {
    margin-bottom: 2%;
}

.botones {
    font-size: 20px;
}

.fondobotones {
    display: inline-block;
    width: 150px;
    height: 4vh;
    background-color: blanchedalmond;
    margin: 5px;
    border-width: 0px 2px 2px 0px;
    border-color: gainsboro;
    border-style: solid;
    text-align: center;
    font-size: x-large;
    box-shadow: 2px 2px gray;
}

#seleccionado {
    box-shadow: 2px 2px gray inset;
    background-color: rgba(255, 219, 219, 0.775);
}

.partes {
    display: flex;
    flex-direction: column;
}

#eliminatoria {
    background-color: rgb(133, 12, 36);
    margin: 0% 0% 5% 7%;
    padding: 5%;
    height: 20%;
    width: 75%;
}

.fase {
    font-weight: bold;
    font-size: xx-large;
    background-color: blanchedalmond;
    padding: 0% 2% 0%;
    color: rgb(133, 12, 36);
    border-radius: 15px;
}

#fasegrupo {
    background-color: transparent;
    position: relative;
    margin-top: 5%;
}

.fondo {
    position: absolute;
    width: 66%;
    background-color: blanchedalmond;
    opacity: 80%;
}

#fondoclas { 
    margin: 2% 2% 0% 1%;
    padding: 2% 15% 30%;
    height: 20%;
}

.tabla {
    margin-top: 2%;
    display: flex;
}

.izq {
    display: flex;
    flex-direction: column;
    margin: 0% 5% 0%;
}

.dcha {
    display: flex;
    text-align: end;
    flex-direction: column;
    margin: 0% 5% 0%;
}

.tipopartido {
    font-weight: bold;
    font-size: 25px;
    background-color: blanchedalmond;
    padding: 0% 2% 0%;
    color: rgb(133, 12, 36);
    border-radius: 15px;
}

.partido {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 7% 0% 7%;
}

.ganado {
    color: blanchedalmond;
    font-size: 20px;
    width: 100px;   
}

.perdido {
    color: rgba(132, 132, 132, 0.566);
    font-size: 20px;
    width: 100px;
}

.ganado:hover, .ganado:active {
    background-color: blanchedalmond;
    opacity: 80%;
    color: rgb(133, 12, 36);
}

.perdido:hover, .perdido:active {
    opacity: 80%;
    background-color: blanchedalmond;
}

.ronda {
    display: flex;
    flex-direction: column;
    margin: 0% 2% 0%;
}

#partfinal {
    display: flex;
    margin: 7% 0% 7%;
}

#tablagrup {
    position: relative;
    flex-wrap: wrap;
}

.nombregrupo {
    background-color: rgb(133, 12, 36);
    color: blanchedalmond;
    font-size: 20px;
    width: 100%;
    padding-left: 2%;
}

.grupo {
    border-style: solid;
    border-width: 4px;
    border-color: rgb(133, 12, 36);
    background-color: blanchedalmond;
    width: 250px;
    margin: 3% 2% 5% 3%;
    display: flex;
    flex-direction: column;
}

.nombrepuntos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textonombrepuntos {
    display: flex;
    font-size: 20px;
    align-self: center;
    margin: 1% 0% 1%;
    gap: 5px;
    font-size: 20px;
}

.nombrepuntos:hover, .nombrepuntos:active {
    background-color: rgb(133, 12, 36);
    color: blanchedalmond;
    border-radius: 0%;
}

@media (max-width:1325px) {
    #fondoclas {
        padding-bottom: 50%;
    }

    img {
        width: 50px;
    }

    #proximo {
        margin-left: 22.5%;
    }
}

@media (max-width:1250px) {
    .tabla {
        flex-direction: column;
    }

    .textoproxpart {
        font-size: 100%;
    }

    .izq, .dcha {
        text-align: center;
    }

    #tablagrup, .dcha, .izq {
        flex-direction: row;
    }

    #proximo {
        margin-left: 25%;
    }
}

@media (max-width:1200px) {
    #fondoclas {
        padding-bottom: 60%;
    }

    #proximo {
        gap: 80px;
    }
}

@media (max-width:950px) {
    #fondoclas {
        padding-bottom: 100%;
    }

    #proximo {
        gap: 50px;
    }

    img {
        width: 30px;
    }
}

@media (orientation:portrait) {
    a, .botones, .fondobotones, .tipopartido, .ganado, .perdido, .textonombrepuntos {
        font-size: 100%;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    #proximo {
        flex-direction: column;
        gap: 0px;
        margin-top: 20%;
        margin-left: 42.5%;
    }

    .fondobotones {
        width: 100px;
        height: 3vh;
    }

    #fondoinicio {
        padding-bottom: 50%;
    }

    .grupo {
        width: 150px;
        height: 100px;
    }
}