body {
    counter-reset: estrofa section;
}

span {
    color: blue;
}

h3::before {
    counter-increment: estrofa;
    content: "Estrofa " counter(estrofa);
}

p::before {
    counter-increment: section;
    content: "Verso " counter(section) ": ";
}